name: Deploy to AWS Lambda
on:
  push:
    branches:
      - master

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: ingredients-recognition-app-lambda
  LAMBDA_FUNCTION_NAME: ingredients-recognition-app

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

     # ADD THIS BLOCK - it's missing!
    permissions:
      id-token: write   # Required for OIDC authentication
      contents: read    # Required to checkout code

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ github.sha }}
        ECR_REPOSITORY: ingredients-recognition-app-lambda
      run: |
        docker buildx build --platform linux/amd64 --provenance=false -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
        echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

    - name: Deploy Lambda function with container image
      uses: aws-actions/aws-lambda-deploy@v1.1.0
      with:
        function-name: ${{ env.LAMBDA_FUNCTION_NAME }}
        package-type: Image
        image-uri: ${{ steps.build-image.outputs.image }}
        role: ${{ secrets.LAMBDA_ROLE_ARN }}  # IAM execution role for Lambda
    
    - name: Test Lambda function
      run: |
        # Create payload file
        cat > payload.json << EOF
        {
          "modelArn": "${{ secrets.MODEL_ARN }}",
          "projectArn": "${{ secrets.PROJECT_ARN }}"
        }
        EOF
        
        # Show what we're sending
        echo "Payload:"
        cat payload.json

        aws lambda invoke \
          --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
          --payload file://payload.json \
          response.json
        cat response.json
